Django>=4.2
djangorestframework
djangorestframework-simplejwt
gunicorn
psycopg2-binary
django-cors-headers
whitenoise
python-dotenv
dj-database-url
python-decouple
reportlab
celery[redis]
channels
channels-redis